#weather-forecast {
  
  text-align: center;
  /* box-sizing: border-box; */
  /* justify-content: center;
  align-items: center; */
}

.container {
  margin-top:5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Remove extra left and right margins, due to padding */
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 6px;
text-align: center;
/* width: 25%; */
background-color: #f1f1f1;
}